- name: Setup Plex
  hosts: plex
  roles:
    - role: nfs_mount
      vars:
        nfs_src: "{{ nfs_shares.media }}"
        nfs_path: /mnt/media
        nfs_opts: "rw,sync,hard"

  tasks:
    - name: Install dependencies
      become: true
      ansible.builtin.apt:
        pkg:
          - curl
          - gnupg
        state: present

    - name: Add plex repository
      become: true
      ansible.builtin.deb822_repository:
        name: plexmediaserver
        types: deb
        uris: "https://downloads.plex.tv/repo/deb"
        suites: public
        components: main
        signed_by: "https://downloads.plex.tv/plex-keys/PlexSign.key"

    - name: Install plex
      become: true
      ansible.builtin.apt:
        pkg: plexmediaserver
        state: present
        update_cache: true
