provider.tf
terraform.tfvars
creds
.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
*.pem
vpns

# Secrets
secrets/infrastructure.env
secrets/.vault-pass.age
secrets/ansible/group_vars/all/vault.yml.decrypted
