- name: Setup Jellyfin
  hosts: jellyfin
  roles:
    - role: nfs_mount
      vars:
        nfs_src: "{{ nfs_shares.media }}"
        nfs_path: /mnt/media
        nfs_opts: "rw,sync,hard"

  tasks:
    - name: Install curl
      become: true
      ansible.builtin.apt:
        pkg: curl
        state: present

    - name: Run jellyfin install
      become: true
      ansible.builtin.shell:
        cmd: curl https://repo.jellyfin.org/install-debuntu.sh | sudo bash
