- name: Setup Media Share
  hosts: servarr
  roles:
    - role: nfs_mount
      vars:
        nfs_src: "{{ nfs_shares.media }}"
        nfs_path: /mnt/media
        nfs_group: media

- name: Install Prowlarr
  hosts: servarr
  roles:
    - role: servarr_app
      vars:
        app_name: prowlarr

- name: Install Radarr
  hosts: servarr
  roles:
    - role: servarr_app
      vars:
        app_name: radarr

- name: Install Sonarr
  hosts: servarr
  roles:
    - role: servarr_app
      vars:
        app_name: sonarr
