- name: Setup Paperless
  hosts: paperless
  roles:
    - role: nfs_mount
      vars:
        nfs_src: "{{ nfs_shares.paperless }}"
        nfs_path: /mnt/paperless
        nfs_group: docs
    - role: nfs_mount
      vars:
        nfs_src: "{{ nfs_shares.general }}/paperless"
        nfs_path: /mnt/shared
    - role: docker
    - role: docker_compose
      vars:
        compose_app_name: paperless
        compose_app_dir: /srv/paperless-app
        compose_src: ./paperless/
        compose_env_src: ./paperless/docker-compose.env
        compose_env_dest: docker-compose.env
        compose_required_dirs:
          - path: /mnt/paperless/data
            mode: "0755"
          - path: /mnt/paperless/pgdata
            mode: "0700"
          - path: /mnt/paperless/media
            mode: "0755"
