- name: Setup Paperless Storage
  hosts: paperless
  roles:
    - role: nfs_mount
      vars:
        nfs_src: "{{ nfs_shares.paperless }}"
        nfs_path: /mnt/paperless
        nfs_group: docs
    - role: nfs_mount
      vars:
        nfs_src: "{{ nfs_shares.general }}/paperless"
        nfs_path: /mnt/shared
    - role: docker

- name: Deploy Paperless
  hosts: paperless
  tasks:
    - name: Add docker compose scripts
      become: true
      ansible.builtin.copy:
        dest: /srv/paperless-app
        src: ./paperless/

    - name: Add env file
      become: true
      ansible.builtin.template:
        dest: /srv/paperless-app/docker-compose.env
        src: ./paperless/docker-compose.env

    - name: Ensure data dir
      become: true
      ansible.builtin.file:
        path: /mnt/paperless/data
        mode: "0755"
        state: directory

    - name: Ensure pgdata dir
      become: true
      ansible.builtin.file:
        path: /mnt/paperless/pgdata
        mode: "0700"
        state: directory

    - name: Ensure media dir
      become: true
      ansible.builtin.file:
        path: /mnt/paperless/media
        mode: "0755"
        state: directory

    - name: Launch paperless
      become: true
      ansible.builtin.shell:
        cmd: |
          cd /srv/paperless-app
          {{ docker.compose_command }} pull && {{ docker.compose_command }} up -d
