- name: Setup Immich
  hosts: immich
  roles:
    - role: nfs_mount
      vars:
        nfs_src: "{{ nfs_shares.immich }}"
        nfs_path: /mnt/immich
        nfs_group: media
    - role: docker
    - role: docker_compose
      vars:
        compose_app_name: immich
        compose_app_dir: /srv/immich-app
        compose_src: ./immich/
        compose_env_src: ./immich/.env
