---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services

- Monitoring:
    - Gatus:
        icon: gatus.png
        href: https://uptime.jasonxun2020.com/
        description: Service availability monitoring
        widget:
          type: gatus
          url: http://monitoring.home.arpa:3001
    - Grafana:
        icon: grafana.png
        href: https://grafana.jasonxun2020.com/
        description: Metrics dashboards
        widget:
          type: grafana
          url: http://monitoring.home.arpa:3000
          username: "{{ vault_admin_users.grafana_user }}"
          password: "{{ vault_admin_users.grafana_password }}"
    - Prometheus:
        icon: prometheus.png
        href: https://prometheus.jasonxun2020.com/
        description: Metrics database
        widget:
          type: prometheus
          url: http://monitoring.home.arpa:9090
    - ntfy:
        icon: ntfy.png
        href: https://ntfy.jasonxun2020.com/
        description: Push notifications

- Infrastructure:
    - Proxmox VE:
        icon: proxmox.png
        href: https://proxmox.{{ network.domain_name }}
        description: VM and Container Manager
        widget:
          type: proxmox
          url: https://{{ infra_hosts.proxmox }}.{{ network.internal_domain }}:8006
          username: "{{ vault_api_keys.proxmox_homepage_user }}"
          password: "{{ vault_api_keys.proxmox_homepage_password }}"
    - Pihole:
        icon: pi-hole.png
        href: http://pihole.home.arpa/admin
        description: Handles DNS and DHCP
        widget:
          type: pihole
          url: http://pihole.home.arpa/admin/api.php
          key: "{{ vault_api_keys.pihole }}"
    - TrueNAS:
        icon: truenas.png
        href: https://truenas.{{ network.domain_name }}
        description: Network storage management
        widget:
          type: truenas
          url: http://{{ infra_hosts.truenas }}.{{ network.internal_domain }}
          key: "{{ vault_api_keys.truenas }}"
          enablePools: true
    - Telus Router:
        icon: router.svg
        href: http://192.168.1.254/
        description: Telus' modem and router unit
    - Telus Wireless AP:
        icon: router.svg
        href: http://192.168.1.42/
        description: Telus' wireless access point

- Media:
    - Jellyfin:
        icon: jellyfin.png
        href: https://jellyfin.{{ network.domain_name }}
        description: Watch movies and TV shows.
        widget:
          type: jellyfin
          url: http://jellyfin.home.arpa:8096
          key: "{{ vault_api_keys.jellyfin }}"
          enableBlocks: true
          enableNowPlaying: true
          enableUser: true
          showEpisodeNumber: true
    - Radarr:
        icon: radarr.png
        href: https://radarr.{{ network.domain_name }}
        description: Movie management
        widget:
          type: radarr
          url: http://servarr.home.arpa:7878
          key: "{{ vault_api_keys.radarr }}"
    - Sonarr:
        icon: sonarr.png
        href: https://sonarr.{{ network.domain_name }}
        description: TV series management
        widget:
          type: sonarr
          url: http://servarr.home.arpa:8989
          key: "{{ vault_api_keys.sonarr }}"
    - Prowlarr:
        icon: prowlarr.png
        href: https://prowlarr.{{ network.domain_name }}
        description: Managing the other Managers
        widget:
          type: prowlarr
          url: http://servarr.home.arpa:9696
          key: "{{ vault_api_keys.prowlarr }}"
    - QBittorrent:
        icon: qbittorrent.png
        href: https://qbittorrent.{{ network.domain_name }}
        widget:
          type: qbittorrent
          url: http://qbittorrent.home.arpa:8080
          username: admin
          password: adminadmin


- Misc:
    - OctoPrint:
        icon: octoprint.png
        href: http://octo.home.arpa
        description: 3D Printer
        widget:
          type: octoprint
          url: http://octo.home.arpa
          key: "{{ vault_api_keys.octoprint }}"
    - Printer:
        icon: printer.svg
        description: BROTHER-DCP7065DN
        href: http://brother-dcp7065dn.home.arpa/
    - Immich:
        icon: immich.svg
        href: https://immich.{{ network.domain_name }}
        description: Photo Management
        widget:
          type: immich
          url: http://immich.home.arpa:2283
          key: "{{ vault_api_keys.immich }}"
          version: 2
    - Paperless:
        icon: paperless-ngx.svg
        href: https://paperless.{{ network.domain_name }}
        description: Document Management
        widget:
          type: paperlessngx
          url: http://paperless.home.arpa
          username: "{{ vault_admin_users.paperless_user }}"
          password: "{{ vault_admin_users.paperless_password }}"
