- name: Setup Homepage
  hosts: portal
  roles:
    - role: systemd_service
      vars:
        service_name: homepage
        service_description: Homepage Daemon
        service_user: root
        service_group: root
        service_workdir: /srv/homepage
        service_exec: /root/.nvm/nvm-exec pnpm start
        service_environment:
          - "HOMEPAGE_ALLOWED_HOSTS=portal.home.arpa:3000"
          - "NODE_VERSION=v23.11.0"

  tasks:
    - name: Install pnpm
      ansible.builtin.shell:
        creates: ~/.local/share/pnpm/pnpm
        cmd: curl -fsSL https://get.pnpm.io/install.sh | sh -

    - name: Install nvm and nodejs
      ansible.builtin.shell:
        creates: /root/.nvm
        cmd: |
          curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash
          source /root/.nvm/nvm.sh
          nvm install v23.11.0
          nvm use v23.11.0
          nvm alias default v23.11.0

    - name: Clone or update homepage
      ansible.builtin.git:
        repo: 'https://github.com/gethomepage/homepage.git'
        dest: /srv/homepage

    - name: Build homepage (This may take a while! If it crashes increase memory!)
      ansible.builtin.shell:
        creates: /srv/homepage/.next
        cmd: |
          source /root/.nvm/nvm.sh
          pnpm install
          pnpm build
      args:
        chdir: /srv/homepage

    - name: Add config files
      ansible.builtin.template:
        dest: '/srv/homepage/config/{{ item.path }}'
        src: '{{ item.src }}'
      with_community.general.filetree: './homepage/'
      when: item.state == 'file'
